name: CI/CD Deploy Node App to EC2 (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          npm install
          npm run build

      - name: Restart PM2 App
        run: |
          pm2 delete atomlift || true
          pm2 start npm --name atomlift -- run start --instances max
          pm2 save
